<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        .color1 {
            background-color: {{color1}};
        }
        
        .color2 {
            background-color: {{color2}};
        }
    </style>

</head>
<body>
    <main id="wrapper">
        <table>
        {% for i in range(num_x): %}
            <tr>
                {% for j in range(num_y) %}
                <td class="color{{ (i+j)%2+1 }}"></td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </main>
</body>
</html>
